html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.content {
  max-width: 960px;
  margin: 0 auto; }

html {
  font: normal 100%/1 "Slabo 27px", Georgia, "Times New Roman", serif;
  color: #fff; }

h1 {
  margin: 0;
  font-size: 4em; }

h2 {
  margin-bottom: 1em; }

.icon-list {
  padding: 0;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .icon-list::after {
    clear: both;
    content: "";
    display: table; }
  .icon-list li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .icon-list li:last-child {
      margin-right: 0; }

body {
  background-color: #3a4549;
  background-image: -webkit-radial-gradient(#3a4549, #0f080b, , , , , , , , );
  background-image: radial-gradient(  #3a4549, #0f080b, , , , , , , , ); }

header {
  margin: 2% 0;
  padding: 2%;
  background: rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 700px) {
    header {
      margin: 4em 0;
      padding: 0 0.5em; } }

.content {
  padding: 0 5%; }
  @media screen and (min-width: 700px) {
    .content {
      padding: 0 20px;
      width: 500px;
      margin: 0 auto; } }

footer {
  margin-top: 4em; }
