@color-theme-1:   rgba(230, 230, 230, 0.5);
@color-theme-1-2: #C1AAB8;

@color-type-1: #404040;
@color-type-2: #D1D4CE;

@color-link-1: #fff;
@color-link-2: #BDA77E;

@c1: #9E8D77;
@c2: #BECCBA;
@color-bg: #f3f3f1;
