@color-theme-1:   rgba(230, 230, 230, 0.5);
@color-theme-1-2: #496276;

@color-type-1: #404040;
@color-type-2: #D1D4CE;

@color-link-1: @color-theme-1-2;
@color-link-2: #B59250;

@c1: #9E8D77;
@c2: #BECCBA;
@color-bg: #f3f3f1;
