header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 2em 0;
    z-index: 1;
    transition: font-size ease-in-out 0.1s;
}
.logo {
    color: @color-theme-1;
    margin: 0;
    font: 800 4em/0.82 @font-serif-1;
    perspective: 800px;

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }

    em {
        display: none;
        color: darken(@color-theme-1, 50%);

        .bp-tb({
            display: inline-block;
            position: relative;
            top: 0.13em;
            transform: rotateX(-90deg);
            transform-origin: 50% 83%;
            font-style: normal;
            transition: top 0.3s,
                        transform 0.3s,
                        color 0.3s;

            i {
                font-style: normal;
                font-size: 0.6em;
            }
        });
    }

    span {
        display: block;

        .bp-tb({
            opacity: 1;
            transition: opacity 0.3s;
        });
    }

    .bp-tb({
        &:hover {
            em {
                transform: rotateX(0);
                top: 0;
                color: inherit;
            }
            span {
                opacity: 0.3;
            }
        }
    });
}
