.intro.slide {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 200px;
    color: @color-type-2;
    background: radial-gradient(fade(#fff, 14%) 50%, fade(#fff, 20%) 100%),
        url(/img/home/splash.jpg) no-repeat 50% 50%;
    background-size: cover;

}
.l-1 {
    display: block;
    animation: fadein 2s 1;
}
.l-2,
.l-3 {
    display: block;
    margin-top: 0.2em;
    opacity: 0;
}
.l-2 {
    font-size: 0.7em !important;
    animation: fadeinup 1.8s 0.8s 1 forwards;
}
.l-3 {
    font-size: 0.6em !important;
    animation: fadeinup2 1.5s 1.8s 1 forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinup {
    0% {
        transform: translateY(2em);
        opacity: 0;
    }
    75% {
        transform: translateY(0);
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes fadeinup2 {
    0% {
        transform: translateY(2em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0.5;
    }
}

.links {
    margin-top: 6em;
    padding: 0;
    opacity: 0;
    text-align: center;
    font-size: 2.4em;
    .guttered();
    animation: fadein 2s 2.5s forwards;
    a {
        color: @color-theme-1;
    }
}

a[href="#more"] {
    @size: 200px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -@size/2;
}
