html {
    position: relative;
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

i {
    display: inline-block;
    font-style: normal;
}

main {
    margin-bottom: @footer-height;
}

.content {
    max-width: @pc;
    margin: 0 auto;
    padding: 0 3%;
    .pc({
        padding: 0 29px;
    });
}
