.cv :global {
    margin-bottom: 3em;
    overflow: hidden;

    ul {
        margin: 1.5rem 0 1.5rem;
    }

    li {
        margin-bottom: 1.5em;

        opacity: 0;
        transform: translateX(25vw);

        animation: 200ms forwards SlideIn;

        p {
            margin-top: 0;
        }
    }
}

.gradient {
    composes: gradientText from "../button.css";

    display: inline-block;
    margin-bottom: 0.3em;

    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

@keyframes :global(smallHue) {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-45deg);
    }
}

@keyframes :global(hue) {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(-180deg);
    }
}

@keyframes :global(SlideIn) {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.small {
    font-size: 0.8em;
}
