@value bpTablet, bpDesktop from "../breakpoints.module.css";

.fixed {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 3%;

    @media (min-width: bpDesktop) {
        padding: 0 29px;
    }
}

.content :global {
    composes: fixed;
    opacity: 0;

    animation: 600ms forwards 500ms FadeIn;
}

@keyframes :global(FadeIn) {
    100% {
        opacity: 1;
    }
}
