extends ../index.jade

block content
  h2 Some things I'm into:
  ul.kace-g.flatlist
    li.kace-u-1-1.kace-u-tb-1-3.blockon
      h3
        a(href="/code" class="kace-menu-link")
          i code
    li.kace-u-1-1.kace-u-tb-1-3.blockon
      h3
        a(href="http://kaceaudio.com" class="kace-menu-link")
          i sound
    li.kace-u-1-1.kace-u-tb-1-3.blockon
      h3
        a(href="http://instagram.com/kacekevin" class="kace-menu-link")
          i skating

  
