@value bpMobile from "../components/breakpoints.module.css";
@value colorStrong, colorHeader, colorText from "../components/theme.module.css";

.overview {
    font-size: 1.2em;
    line-height: 1.4;

    @media (min-width: bpMobile) {
        font-size: 1.3em;
    }
}

.resume {
    h1 {
        border-bottom: solid 1px #fff3;

        + p {
            color: colorStrong;
        }
    }
}

.links {
    margin: 1em 0 0;
    display: flex;
    align-items: center;
    font-size: 0.9em;

    > * {
        margin-right: 1em;
        display: flex;

        align-items: center;

        &:not(:last-child):after {
            content: "|";
            position: relative;
            left: 0.55em;
            color: colorText;
        }
    }

    svg {
        margin-right: 0.4em;
        width: 1em;
        fill: currentColor;
    }
}

.button {
    composes: gradientButton from "../components/button.css";
}
