@value bpTablet, bpDesktop from "../breakpoints.module.css";
@value colorDark, colorHighlight, fontTitle from "../theme.module.css";

.header {
    margin: 1em 0;
    padding: 2em 0;
    box-shadow: 0 -10px 24px rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.2);
}

.logotype {
    margin: 0;

    color: colorDark;
    text-shadow: 1px 1px 0 colorHighlight, 0 0 10px #000;

    text-transform: uppercase;
        font: normal 16vw/0.81 fontTitle;

    @media (min-width: 460px) {
        font-size: 4.242rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.fixed {
    composes: fixed from "../layout/index.module.css";
}
