@value colorDark: #126772;
@value colorHighlight: #1bbcce;
@value colorHeader: #d8d8d8;
@value colorLink: #d47199;
@value colorText: #bbb;

@value colorGradient1: #2e373a;
@value colorGradient2: #0f080b;

@value fontTitle: "Alfa Slab One", Georgia, "Times New Roman", serif;
@value fontBody: "Noto Sans", Arial, Helvetica, sans-serif;
@value fontDisplay: "Rokkitt", Georgia, "Times New Roman", serif;

body {
    font-family: fontBody;
    color: colorText;
    background: radial-gradient(colorGradient1 0%, colorGradient2 100%);
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: colorLink;
}

h1, h2, h3, h4, h5 {
    font-family: fontDisplay;
    color: #fff;
}

h2 {
    margin-top: 3rem;

    color: colorHeader;
    font-size: 2.828rem;
    line-height: 3rem;
    font-weight: 700;
}

sup {
    opacity: 0.6;
}
