@value colorDark: #126772;
@value colorHighlight: #1bbcce;
@value colorHeader: #d8d8d8;
@value colorLink: #d47199;
@value colorText: #bbb;
@value colorStrong: #efefef;

@value colorGradient1: #2e373a;
@value colorGradient2: #0f080b;

@value fontTitle: "Alfa Slab One", Georgia, "Times New Roman", serif;
@value fontBody: "Noto Sans", Arial, Helvetica, sans-serif;
@value fontDisplay: "Rokkitt", Georgia, "Times New Roman", serif;

body {
    font-family: fontBody;
    color: colorText;
    background: radial-gradient(colorGradient1 0%, colorGradient2 100%);
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: colorLink;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0.9em 0 0.5em;

    font-family: fontDisplay;
    color: colorHeader;
    letter-spacing: 0.01em;
    font-size: 2.3em;
    font-weight: 700;
}

h1 {
    font-size: 2.6em;
}


h3 {
    margin-bottom: 0.6em;

    font: normal 1.1em/1.2 fontBody;
}

sup {
    opacity: 0.6;
}

p {
    margin: 0 0 1em;
}

strong {
    color: colorStrong;
    font-weight: normal;
}

ul {
    list-style: circle;
    margin: 0 0 0 1em;
}

li {
    margin: 0 0 0.3em;
}
