.target-blockon {
    h3 {
        margin: 0;
        overflow: hidden;
    }
    a {
        display: block;
        position: relative;
        padding: 0.7em;

        color: @color-type-2;
        text-shadow: 0 0 15px #000;
        text-align: center;
        text-transform: uppercase;

        background: @color-theme-1-2;

        transition: text-shadow 0.3s;

        &:hover {
            text-shadow: 0 0 24px #000,
                         0 0 30px #000,
                         0 0 15px #000;
            i {
                transform: scale(1.8) rotate(18deg);
                transition: transform   5s cubic-bezier(0.060, 0.220, 0.000, 0.355),
                            text-shadow 5s cubic-bezier(0.060, 0.220, 0.000, 0.355);
            }
        }
    }
    i {
        transition: transform 0.2s;
    }
}

.target-circ {
    @size: 80px;
    position: relative;
    display: inline-block;
    width: @size;
    height: @size;
}

.target-chev {
    @size: 200px;
    position: relative;
    display: inline-block;
    width: @size;
    height: @size/2;
    &:after {
        @thickness: 16px;
        position: absolute;
        content: "";
        top: 0; /*@size/6-@thickness/2;*/
        left: @size/4-@thickness/2;
        width: @size/2;
        height: @size/2;
        border: solid @thickness fadeout(@color-theme-1, 20%);
        border-width: @thickness @thickness 0 0;
        transform: rotateX(50deg) rotate(135deg);
    }
}
