.target-blockon {
    h3 {
        margin: 0;
        overflow: hidden;
    }
    a {
        display: block;
        padding: 0.7em;
        border: solid 1px rgba(255, 255, 255, 0.1);
        border-right-color: rgba(0, 0, 0, 0.4);
        border-bottom-color: rgba(0, 0, 0, 0.4);
        text-shadow: 0 0 15px #000;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100%);
        transition: text-shadow 0.3s;
        &:hover {
            text-shadow: 0 0 24px #000,
                         0 0 30px #000,
                         0 0 15px #000;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            i {
                // .stroke(2px, fadeout(@color-link-1, 50%));
                transform: scale(1.8) rotate(18deg);
                transition: transform   5s cubic-bezier(0.060, 0.220, 0.000, 0.355),
                            text-shadow 5s cubic-bezier(0.060, 0.220, 0.000, 0.355);
            }
        }
    }
    i {
        transition: transform 0.2s;
    }
}

.target-circ {
    @size: 60px;
    position: relative;
    display: inline-block;
    width: @size;
    height: @size;
    border-radius: @size/2;
    border: solid 4px #2E3437;
    background-color: rgba(0, 0, 0, 0.6);
    &.target-chev:after {
        @thickness: 8px;
        position: absolute;
        content: "";
        top: @size/6-@thickness/2;
        left: @size/4-@thickness/2;
        width: @size/2;
        height: @size/2;
        border: solid @thickness fadeout(@color-theme-1, 20%);
        border-width: @thickness @thickness 0 0;
        transform: rotate(135deg);
    }
}
