@value bpMobile, bpTablet, bpDesktop from "../breakpoints.module.css";
@value colorDark, colorHighlight, fontTitle from "../theme.module.css";

.header :global {
    margin: 1em 0 2.5em;
    padding: 0;

    box-shadow:
        0 -10px 2em rgba(255, 255, 255, 0.12),
        0 10px 8em rgba(255, 255, 255, 0.03);
    background: rgba(0, 0, 0, 0.2);

    overflow: hidden;
    max-height: 0;

    animation: 400ms ease-out 300ms forwards Open;
    transform-origin: 50% 0;
}

/* tighten up arount "o" */
[data-char=r-10],
[data-char=o-11] {
    letter-spacing: -0.05em;
}

@keyframes :global(Open) {
    100% {
        max-height: 200px;
    }
}

.logotype :global {
    margin: 0;
    padding: 0.5em 0;

    color: colorDark;
    text-shadow: 1px 1px 0 colorHighlight, 0 0 10px #000;

    text-transform: uppercase;
        font: normal 15vw/0.81 fontTitle;

    @media (min-width: bpMobile) {
        font-size: 4.242rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    span {
        display: inline-block;
        transform: translateY(-5em);
        animation: 500ms forwards Drop;
    }
}

@keyframes :global(Drop) {
    100% {
        transform: translateY(0);
    }
}

.fixed {
    composes: fixed from "../layout/index.module.css";
}
